{% extends 'base.html.twig' %}

{% block title %}Page de {{user.firstname}}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-3 text-center">
                 <img src="/front/images/profile.jpg" alt="Image"
  class="avatar mb-3" alt="Avatar de {{user.firstname}}"
  />
                
                <br>
                <span class="badge badge-primary">{{user.stays | length}} annonces</span>
                 <span class="badge badge-primary">{{user.bookings | length}} réservations</span>
            </div>
            <div class="col-9">
                <h1>{{user.firstname}}</h1>
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('update_profile') }}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
                       {# <a href="{{ path('account_password') }}" class="btn btn-primary mb-2">Modifier mon mot de passe</a> #}
                    </div>
                {% endif %}
            </div>
        </div>
       
       <h2>  you can find here a description about this member: </h2>
       </br>
       <h5> {{user.introduction}}</h5>

        <hr>

        <h2>Les annonces de {{user.firstname}}</h2>

        {% if user.stays | length > 0 %}
            <div class="row">
                {% for stay in user.stays %}
                    {% include 'stay/show.html.twig' %}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    <strong>{{user.firstname}}</strong> n'a pas encore d'annonce sur le site !
                </p>
            </div>
        {% endif %}
    </div>

{% endblock %}