{% extends 'base.html.twig' %}

{% block title %}Page de {{user.firstname}}{% endblock %}

{% block body %}

     <div class="container rounded bg-white mt-5 mb-5" >
     
        <div class="row" >
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" />
                    <span class="font-weight-bold">{{ user.firstname ~ ' ' ~ user.lastname }}</span>
                    <span class="text-black-50"> Email : {{ user.email }}</span>
                    <span> Username : {{ user.username }} </span>
                    <span> Mobile phone : {{ user.phone }}</span>
                    <span class="labels"></br><p>Introduction</p> <p> {{ user.introduction }} </p> </span>
                    {% if app.user and app.user.id == user.id %}
                    <span><a href="{{ path('update_profile') }}" class="btn btn-primary mr-2 mb-2">Edit</a></span>
                    {% endif %}
                </div>
            </div>
        
            <div class="col-md-9 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        {% if is_granted('ROLE_HOST') %}
                        <span class="badge badge-primary">{{user.stays | length}} annonces</span>
                        <span class="badge badge-primary">{{user.experiences | length}} experiences</span>
                        {% endif %}
                        {% if is_granted('ROLE_GUEST') %}
                        <span class="badge badge-primary">{{user.bookings | length}} réservations</span>
                        <span class="badge badge-primary">{{user.experiences | length}} experiences</span>
                        {% endif %}
                    </div>
                    <hr />
                    <div class="row mt-3">
                        <div class="col-md-12">
                            {% if user.stays | length > 0 %}
                                  <h3>list of stays from user <strong> {{user.firstname}}</strong></h3>
                                </br>
                                <div class="row" style="display: flex;align-items: center;">
                                
                                </br>
                                </br>
                                </br>
                                    {% for stay in user.stays %}
</br>

<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
                <small>Pas encore noté</small>
        </div>
        
        
            <img  src="{{ asset('uploads/'~stay.photo) }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block"> </img>
        </a>

        <div class="card-body">
            <h4 class="card-title">
              
            </h4>
            <p class="card-text">
              Capacity:  {{ stay.capacity }}
            </p>
            <p class="card-text">
              Start avaliability:  {{ stay.startdateav | date }}
            </p>
            <p class="card-text">
              End availability:  {{ stay.enddateav | date }}
            </p>
            {% if app.user and app.user.id == stay.users.id %}
            <a href="{{ path('app_stay_show',  {'id': stay.id}) }}}"   class="btn btn-primary float-right">  More Details !!!!</a>
{% endif %}
            {% if app.user and app.user == stay.users %}
               </br>
               </br>
                <a href="{{ path('app_stay_edit', {'id': stay.id}) }}" class="btn btn-secondary">Modifiy my stay! </a>
            {% endif %}
        </div>
    </div>
</div>                       
  {% endfor %}
 </div>
  </br>
                                <h3>list of experiences from user <strong> {{user.firstname}}</strong></h3>
                                <div class="row" style="display: flex;align-items: center;background-color:white;">
                                  
                                    {% for experience in user.experiences %}
                                    <div class="col-md-4">
                                    <div class="card bg-light mb-3">
                                     <div class="card-body">
                                       <h4 class="card-title"><a href="{{ path('app_experience_show_front-details',  {'id': experience.id}) }}"> {{ experience.title }}</a> </h4>
                                     
                                        <span> Published : {{ experience.date |date('Y-m-d') }} </span>
                                        </br>
                                        <span> Number of likes : {{experience.likes}} </span>
                                        
                                     
                                     </div>
                                     </div>
                                     </div>

                                     </br>
                                
                                    {% endfor %}
                                </div>



                            {% elseif user.bookings | length > 0 %}    
                             <h3>List of bookings from user<strong> {{user.firstname}}</strong></h3>
                                <div class="row" style="display: flex;align-items: center;background-color:white;">
                                  
                                    {% for booking in user.bookings %}
                                    <div class="col-md-4">
                                    <div class="card bg-light mb-3">
                                     <div class="card-body">
                                       <h4 class="card-title"><a href="{{ path('app_booking_show',  {'id': booking.id}) }}"> {{ booking.id }}</a> </h4>
                                     
                                        <span> Start At : {{ booking.firstDate |date('Y-m-d') }} </span>
                                        </br>
                                        <span> End At : {{ booking.endDate |date('Y-m-d') }} </span>
                                        
                                     
                                     </div>
                                     </div>
                                     </div>

                                     </br>
                                
                                    {% endfor %}
                                </div>
                                </br>
                                <h3>list of experiences from user <strong> {{user.firstname}}</strong></h3>
                                <div class="row" style="display: flex;align-items: center;background-color:white;">
                                  
                                    {% for experience in user.experiences %}
                                    <div class="col-md-4">
                                    <div class="card bg-light mb-3">
                                     <div class="card-body">
                                       <h4 class="card-title"><a href="{{ path('app_experience_show_front-details',  {'id': experience.id}) }}"> {{ experience.title }}</a> </h4>
                                     
                                        <span> Published : {{ experience.date |date('Y-m-d') }} </span>
                                        </br>
                                        <span> Number of likes  : {{experience.likes}} </span>
                                        
                                     
                                     </div>
                                     </div>
                                     </div>

                                     </br>
                                
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="alert alert-warning">
                                    
                                        {% if is_granted('ROLE_HOST') %}
                                        <p><strong>{{user.firstname}}</strong> n'a pas encore d'annonce sur le site !</p>
                                         </br>
                                         
                                        <p> <strong>{{user.firstname}}</strong> n'a pas encore publié aucune experience sur le site !</p>
                                        {% endif %}
                                        {% if is_granted('ROLE_GUEST') %}
                                        <strong>{{user.firstname}}</strong> n'a pas encore de réservations sur le site !
                                    
                                              </br>
                                         </br>
                                        <p> <strong>{{user.firstname}}</strong> n'a pas encore publié aucune experience sur le site !</p>
                                        {% endif %}
                                  
                                </div>
                            {% endif %}
                        </div>  
                    </div>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}