{% extends 'base-back.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<div>
<br>
    <h1>Comment</h1>
    <br>
    <div class="card">
    <table class="table">
        <thead>
            <tr>

                <th>Author</th>
                <th>Content</th>
                <th>Date</th>
                <th>Likes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>

                <td>{{ comment.author }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.date }}</td>
                <td>{{ comment.likes }}</td>
                <td>
                    <a href="{{ path('app_comment_show_back', {'id': comment.id}) }}" class="btn btn-outline-success btn-fw">show</a>
                    {#<a href="{{ path('app_comment_edit_back', {'id': comment.id}) }}" class="btn btn-outline-warning btn-fw">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    {#<a href="{{ path('app_comment_new_back') }}" class="btn btn-info">Create new</a>#}
    </div>
{% endblock %}
