{% extends 'base-front.html.twig' %}

{% block title %}Edit Experience{% endblock %}

{% block body %}
<div class="site-section">
<div class="container">

<div class="col-md-50">
    <h1>Edit Experience</h1>

    <div class=>
        {{form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-10 mb-3">
                    {{form_label(form.title)}}
                    {{ form_widget(form.title,{'attr' : {'class' : 'form-control' , "placeholder":"Title" }} ) }}
                    {{ form_errors(form.title) }}
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-10 mb-30">
                    {{form_label(form.content)}}
                    {{ form_widget(form.content,{'attr' : {'class' : 'form-control' , "placeholder":"Content" }} ) }}
                    {{ form_errors(form.content) }}
                </div>
            </div>

            <br>
            <button class="btn">{{ button_label|default('Update') }}</button>
            {{ form_end(form) }}
        </div>

    <a href="{{ path('app_experience_index_front') }}">back to list</a>

    {{ include('Front-office/experience/_delete_form.html.twig') }}
</div>
</div>

</div>
{% endblock %}
