{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
   
<div class="login1-container">
    <table class="table">
        <tbody>
       
        </br>
            <tr>
                
            </tr>
            </br>
            <tr>
                <th>BookingDate</th>
                <td>{{ booking.bookingDate ? booking.bookingDate|date('Y-m-d') : '' }}</td>
            </tr>
            </br>
            <tr>
                <th>FirstDate</th>
                <td>{{ booking.firstDate ? booking.firstDate|date('Y-m-d') : '' }}</td>
            </tr>
            </br>
            <tr>
                <th>EndDate</th>
                </br>
                <td>{{ booking.endDate ? booking.endDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a  class="btn btn-primary" href="{{ path('account_index') }}">Back </a>
    
     <a  class="btn btn-info" href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>
    </br>
    </br>
     {{ include('booking/_delete_form.html.twig') }}
    </br>
    </br>
    </div>

   
{% endblock %}
