

{% block title %}Add Comment{% endblock %}

{% block body %}


{#{{ include('Front-office/comment/_form.html.twig') }}#}

    {{form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    <div class="pt-20">

        <div class="comment-form-wrap pt-20">
            {{ form_widget(form.content,{'attr' : {'class' : 'form-control' , "placeholder":"Comment" }} ) }}
            {{ form_errors(form.content) }}
            <button class="btn">{{ button_label|default('Comment') }}</button>
        </div>



        {{ form_end(form) }}
    </div>

    <a href="{{ path('app_comment_index_front') }}">back to list</a>
{% endblock %}
