{{ form_start(form) }}
        <div class="row">
            {%  if app.flashes('success') %}
            <div class="col-md-12 p-3 py-5">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" />
                    <span class="font-weight-bold">{{ user.firstname ~ ' ' ~ user.lastname }}</span>
                    <span class="text-black-50">{{ user.email }}</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Firstname</label>
                            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Lastname</label>
                            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Mobile Phone</label>
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Role</label>
                            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mt-3">    
                        <div class="col-md-12">
                            <label class="labels">Introduction</label>
                            {{ form_widget(form.introduction, {'attr': {'class': 'form-control'}}) }}
                        </div>  
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary" type="button" onclick="$('form[name=\'user\']').submit()">
                            {{ button_label|default('Save') }}
                        </button>
                        <a class="btn btn-primary" href="{{ path('app_user_index') }}">back to list</a>
                        {% if user.id %}
                        <a class="btn btn-primary" href="#" {#onclick="beforeRemove()"#}>delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="col-md-12">
                        <label class="labels">Email ID</label>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>  
                    <div class="col-md-12">
                        <label class="labels">Username</label>
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {% if user.id %}
                    <div class="col-md-12">
                        <label class="labels">Password</label><br>
                        <small> NB : leave it empty if you don't want to change the password </small>
                        <input type="password" name="plainPassword" class="form-control" placeholder="new password" value="" />
                    </div>
                    {% else %}
                    <div class="col-md-12">
                        <label class="labels">Password</label><br>
                        <input type="password" name="plainPassword" class="form-control" placeholder="new password" value="" />
                    </div>
                    {% endif %}
                    <br>
                    <div class="col-md-12">
                        {{ form_widget(form.captchaCode, {'attr': {'class': 'form-control'}}) }}
                    </div>  
                    <div style="display: none">
                     {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </div>
        
        {{ form_end(form) }}   

{#
<script>
    function beforeRemove() {
        if(confirm('Are you sure you want to delete this item?')) {
            window.href = "{{ path('app_user_remove', {'user': user.id}) }}";
        }
    }
    </script>
    #}