{% block body %}

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.i) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.j) }}
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary w=100">Look for a stay
                <img src="/front/images/magnifier.png" alt="Image" class="maskImg"/>
            </button>
        </div>
    </div>


</br></br>{{ form_end(form) }}{% endblock %}
