{% extends 'base.html.twig' %}


{% block title %}Stay index
{% endblock %}


{% block stylesheets %}
    
{% endblock %}

{% block body %}

    {% include 'stay/_filtre.html.twig' %}

    <div class="row" id="stay-carts-list" style="display: flex;align-items: center;background-color:white;padding:100px; border: 60px solid orange">
        
    </div>
    
  {#  <table class="table" id="stays-list" style="display: none">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Capacity</th>
                        <th width="40%">Description</th>
                        <th>Photo</th>
                        <th>Startdateav</th>
                        <th>Enddateav</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody >
                   
                </tbody>
            </table>
            #}
            <div class="row" style="width: 100%" id="stays-not-found">
                <p> No stays found to display with this search criteria</p>
            </div>            


{% endblock %}

{% block javascripts %}
   <script>
        const upBtn = document.querySelector('.up-button');
        const downBtn = document.querySelector('.down-button');
        const sidebar = document.querySelector('.sidebar');
        const mainSlide = document.querySelector('.main-slide');
        const slideCount = mainSlide.querySelectorAll('div').length;
        const container = document.querySelector('#slidecontainer');
   </script> 

   <script>
        const fetchStaysFromApi = () => {
            const text = $('#stay-description').val();
            const date = $('#stay-date').val();
            $.post("{{ path('app_stay_search') }}", {text, date}, function(response){ 
                drawTable(response);
            });
        }
        const drawTable = (data) => {
            const table = $(`#stays-list`);
            const body = $(`#stays-list > tbody`)
            const baseImgPath = "{{ asset('uploads/') }}";
            body.empty();
            $('#stay-carts-list').empty();
            if(data.length > 0){
                table.css({'display': 'block'});
                $('#stay-carts-list').css({'display': 'flex'});
                $('#stays-not-found').css({'display': 'none'});
                data.forEach( row => {
                    // table row creation
                    const showPath = "{{ path('app_stay_show', {'id': '__code'}) }}".replaceAll('__code', row.id);
                    const editPath = "{{ path('app_stay_edit', {'id': '__code'}) }}".replaceAll('__code', row.id);
                    const bookingPath = "{{ path('app_booking_stay', {'stay': '__code'}) }}".replaceAll('__code', row.id);
                    const imgSrc = baseImgPath + '/' + row.photo;
                    const startDate = new Date(row.startdateav.date);
                    const endDate = new Date(row.enddateav.date);
                    let tr = $(`<tr></tr>`);
                    tr.append(`<td> ${row.id} </td>`);
                    tr.append(`<td> ${row.capacity} </td>`);
                    tr.append(`<td> ${row.description} </td>`);
                    tr.append(`<td> <img width='80px' height='80px' src="${imgSrc}" alt="Image" class="img-fluid">
                    </td>`);
                    tr.append(`<td> ${startDate.toLocaleDateString("fr")} </td>`);
                    tr.append(`<td> ${endDate.toLocaleDateString("fr")} </td>`);
                    tr.append(`<td>
                        <a href="${showPath}">show</a>
                        <a href="${editPath}">edit</a>
                        <a href="${bookingPath}">booking</a>
                    </td>`);
                    body.append(tr);
                    // div image carousel creation 
                    const c =  $(`<div class="col-lg-4 col-md-6 mb-4 aos-init aos-animate" data-aos="fade-up">
                        <div class="listing-item">
                            <div class="listing-image">
                                <img src="${imgSrc}" alt="Image" class="img-fluid"></div>
                                <div class="listing-item-content">
                                    <a class="px-3 mb-3 category bg-primary" href="${showPath}">Consult</a>
                                    <h2 class="mb-1">
                                        <a href="${showPath}">${row.description}</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>`);
                    $('#stay-carts-list').append(c);
                });
            }else{
                table.css({'display': 'none'});
                $('#stay-carts-list').css({'display': 'none'});
                $('#stays-not-found').css({'display': 'block'});
            }
        }
        
        fetchStaysFromApi();
    </script>
{% endblock %}